*.iml
.idea
.idea/**
target
target/**

*.sw*
*.un*
*~
*.pyc
*.pyo
*.o
*.lo
*.la
*.al
*.so
*.so.[0-9]*
*.mo
*.rej
*.rdb
*DS_Store
bin/
develop-eggs/
dist/
downloads/
eggs/
parts/
*.egg-info/
build/
*.sqlite
.project
.classpath
logs/
*installed.cfg
venv
venvs
indexdir/
*.sqlite3
*.db
.idea/
media/
node_modules/
oldvenv/
venv18/
t/
